@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-blue: #1a7bd1;
  --dark-gray: #2c2d3f;
  --ligth-gray: #575757;
  --bg-white: #f6f6f6;
  --bg-newsletter: #edf2ff;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--dark-gray);
}

h2,
h3 {
  font-weight: 600;
}

p {
  color: var(--dark-gray);
  font-size: 14px;
}

/* Utitity Clases */
.text-praimary {
  color: var(--light-blue);
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 2rem;
  max-width: 600px;
  margin: auto;
}

.section-header img {
  margin: 20px 0;
}

.section-header p {
  font-size: 16px;
  max-width: 500px;
  margin: auto;
}

/* Home Start */
#home .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

#home .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-height: 100px;
  padding: 0 2rem;
  margin: auto;
}

#home .navbar .logo {
  width: 250px;
}

#home .navbar nav ul {
  display: flex;
}

#home .navbar nav ul li {
  margin: 0 15px;
}

#home .navbar nav ul li a {
  color: var(--dark-gray);
  font-weight: 500;
  transition: all 0.3s ease;
}

#home .navbar nav ul li a:hover {
  color: var(--light-blue);
}

#home .home-content {
  background: url("./images/bg-home.jpg") no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

#home .home-content .col {
  width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

#home .home-content .col small {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

#home .home-content .col small img {
  vertical-align: middle;
}

#home .home-content .col h1 {
  font-size: 40px;
  max-width: 600px;
  line-height: 1.4;
}

#home .home-content .col p {
  margin: 10px 0 30px;
  max-width: 500px;
  line-height: 1.6;
}

#home .home-content .col a {
  margin-right: 15px;
}

#home .home-content .col .btn-praimary {
  background-color: var(--light-blue);
  color: var(--white);
}

#home .home-content .col .btn-praimary:hover {
  background-color: #135fa1;
}

#home .home-content .col .btn-secondary {
  background-color: var(--dark-gray);
  color: var(--white);
}

#home .home-content .col .btn-secondary:hover {
  background-color: #4c4f6e;
}
/* Home End */

/* About Start */
#about {
  padding: 6rem 0;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  margin-top: 3rem;
  align-items: center;
}

#about .row img {
  width: 100%;
}

#about .row .col h3 {
  font-size: 1.5rem;
}

#about .row .col hr {
  width: 60px;
  height: 3px;
  background-color: var(--light-blue);
  border: none;
  margin: 10px 0;
}

#about .row .col p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

#about .row .col .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .row .col .list ul li {
  margin-bottom: 5px;
  color: var(--ligth-gray);
}

#about .row .col .list ul li i {
  color: var(--light-blue);
  margin-right: 5px;
}
/* About End */
